<div class="header row">
  <h3>Cast your votes</h3>
  <ng:include src="'templates/header-controls.html'" />
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Entry</th>
        <th>Presenter</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries" ng-class="{voted: voted[entry.id]}" class="entry" id="{{entry.id}}">
        <td>{{entry.name}}</td>
        <td>{{entry.presenter}}</td>
        <td>
            <button class="btn btn-small" ng-show="!voted[entry.id]" ng-click="castVote(entry)">
                <i class="icon-thumbs-up"></i> Vote
            </button> 
            <button class="btn btn-danger btn-small" ng-show="voted[entry.id]" ng-click="removeVote(entry)">
                Remove
            </button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer row">
  <ng:include src="'templates/header-controls.html'" />
</div>