<div class="header row">
  <h3>Entries</h3>
  <ng:include src="'templates/header-controls.html'" />
</div>
<div class="row">
  <form class="form-inline">
    <input type="text" ng-model="entry.name" value="" placeholder="Entry name">
    <input type="text" ng-model="entry.presenter" value="" placeholder="Presenter">
    <button class="btn btn-primary" ng-click="addEntry()">Add</button>
  </form>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Entry</th>
        <th>Presenter</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries">
        <td>{{entry.name}}</td>
        <td>{{entry.presenter}}</td>
        <td><button class="btn btn-danger btn-small" ng-click="removeEntry(entry)"><i class="icon-minus"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer row">
  <ng:include src="'templates/header-controls.html'" />
</div>