<div class="row">
  <h3>Leaderboard</h3>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Entry</th>
        <th>Presenter</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries">
        <td># {{$index + 1}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.presenter}}</td>
        <td>{{entry.votes}}</td>
      </tr>
    </tbody>
  </table>
</div>