<div class="row">
  <h3>Voter Registration</h3>
</div>
<div class="row">
    <p>Welcome to the AtlasCamp 2013 ShipIt voting app!</p>
    <p>Sign up below to register for voting, or re-enter your email address
    to re-retrieve your secure link.</p>
</div>
<div class="row">
  <div class="sign-up">
    <form class="form-inline" ng-hide="submitted">      
      <input type="email" ng-model="registration.email" value="" placeholder="Email">
      <button class="btn btn-primary" ng-click="register()">Register</button>
    </form>
    <div class="text-success" ng-show="submitted">      
      <i class="icon-ok"></i> Submitted! Check your email at <strong>{{submitted}}</strong>
    </div>
  </div>
</div>
