<div class="row headroom">
  <div class="votes">
    {{votes}}
  </div>
  <div class="voters">
    <div class="avatar" ng-repeat="hash in hashes">
      <img src="http://www.gravatar.com/avatar/{{hash}}" />
    </div>
  </div>
</div>