<div class="header-controls" ng-show="user.su">  
  <a href="/#/secure/{{user.id}}/ballot">Ballot</a> |
  <a href="/#/secure/{{user.id}}/entries">Entries</a> |
  <a href="/#/secure/{{user.id}}/voters">Voters</a> |
  <a href="/#/leaderboard">Leaderboard</a> |
  <a href="/">Signup</a>
</div>