/* Will be compiled down to a single stylesheet with your sass files */
h3 {    
    background-image: url("../img/shipIt_days_Xsmall.png");
    background-position: 0px 0px;
    background-size: 40px 40px;    
    background-repeat: no-repeat;
    padding-left: 47px;
    display: inline-block;
}

body {
    background-image: url("../img/shipIt_days_Xlarge_alpha15.png");
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 550px;
}

.header-controls {
    display: inline-block;
    margin-top: 20px;
    float: right;
}

.row.footer .header-controls {
    display: none;
}

@media (max-width: 550px) {
    body {
        background-size: 400px 400px;
    }

    .row.header .header-controls {
        display: none;
    }

    .row.footer .header-controls {
        float: none;
        text-align: center;
        display: block;
    }
}

@media (max-width: 400px) {
    body {
        background-size: 300px 300px;
    }
}

div.sign-up form input, div.sign-up form button {
    box-shadow: 3px 3px 3px #888888;
    margin-right: 5px;
}

div.sign-up .submitted {
    color: green;
}

tbody tr {
    background-color: rgba(255, 255, 255, .75);
}

tbody tr.voted {
    background-color: rgba(215, 255, 215, .75);
}

div.votes {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -110px;
    position: absolute;    
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 512px;
    color: #36ade8;
    text-shadow: 10px 10px #1e3664;
    z-index: 100;
}

.voters div.avatar {
    display: inline;
    opacity: .6;
}

.voters div.avatar img {
    border-radius: 10px;
}

.headroom {
    margin-top: 25gpx;
}
